---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Works</title>
  </head>
  <div class="wrapper">
    <body>
      <header>
        <div class="header_section">
          <h1>Portfolio</h1>
          <h2>Tor Halle-McIntyre</h2>
        </div>
      </header>
      <slot />
    </body>
  </div>


</html>
